*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
/app/release
.idea/caches
.idea/assetWizardSettings.xml
app/google-services.json
Gemfile
fastlane
